In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("nesarc_pds.csv", low_memory=False)

In [8]:
data.columns=map(str.upper,data.columns)

In [9]:
data.head()

,UNNAMED: 0,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,...,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP,NDSYMPTOMS
0,0,5,,1,4007,403,3928.613505,14,8,2001,...,0,0,0,0,0,0,0,0,0,NaN
1,1,5,0.0014,2,6045,604,3638.691845,12,1,2002,...,0,0,0,0,0,0,0,0,0,NaN
2,2,5,,3,12042,1218,5779.032025,23,11,2001,...,0,0,0,0,0,0,0,0,0,NaN
3,3,5,,4,17099,1704,1071.754303,9,9,2001,...,0,0,0,0,0,0,0,0,0,NaN
4,4,2,,5,17099,1704,4986.952377,18,10,2001,...,0,0,0,0,0,0,0,0,0,NaN

In [15]:
my_data = data[['S1Q2C2','MARITAL', 'CONSUMER', 'S2AQ16A','S2AQ19','SMOKER','S3AQ52']]

Variables i'll taking in my course codebook:
____________________________________________________

S1Q2C2 = Raised by relatives before 18 age

MARITAL = Current Marital Status

CONSUMER = Drinking Status

S2AQ16A = Age when started drinking.

S2AQ19 = Age at start of period of Heaviest drinking.

SMOKER = Tobacco use status.

S3AQ52 = Age started smoking cigars everyday.
_____________________________________________________

In [35]:
my_data = pd.DataFrame(my_data)

In [38]:
my_data.head()

  S1Q2C2  MARITAL  CONSUMER S2AQ16A S2AQ19  SMOKER S3AQ52
0               6         3                      3
1               1         1      21     21       3
2               3         3                      3
3               6         2      16     16       3
4               1         2      18     18       3

In [41]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43093 entries, 0 to 43092
Data columns (total 7 columns):
S1Q2C2      43093 non-null object
MARITAL     43093 non-null int64
CONSUMER    43093 non-null int64
S2AQ16A     43093 non-null object
S2AQ19      43093 non-null object
SMOKER      43093 non-null int64
S3AQ52      43093 non-null object
dtypes: int64(3), object(4)
memory usage: 2.3+ MB

# FREQUENCY DISTRIBUTION OF 3 VARIABLES :

 114-114 MARITAL : CURRENT MARITAL STATUS
 ----------------------
1. Married
2. Living with someone as if married
 (not currently married or separated from another person)
3. Widowed
4. Divorced
5. Separated
6. Never Married

In [64]:
print("Count of Current Marital Status : ")
my_data['MARITAL'].value_counts()

Count of Current Marital Status :

1    20769
6     9895
4     5401
3     4271
5     1445
2     1312
Name: MARITAL, dtype: int64

In [73]:
print("Percentage share of Marital Status : ")
my_data['MARITAL'].value_counts(normalize=True)*100

Percentage share of Marital Status :

1    48.195763
6    22.961966
4    12.533358
3     9.911122
5     3.353213
2     3.044578
Name: MARITAL, dtype: float64

### Thus, we can observe that most of the people(48%) from sample are Married.

----------------------------------------------------------------------------------------------
 712-712 SMOKER : TOBACCO USE STATUS
 ------------------
1. Current user
2. Ex-user
3. Lifetime nonsmoker

In [74]:
print("Count of Tobacco use Status : ")
my_data['SMOKER'].value_counts()

Count of Tobacco use Status :

3    23901
1    11118
2     8074
Name: SMOKER, dtype: int64

In [75]:
print("Percentage share of Tobacco use Status : ")
my_data['SMOKER'].value_counts(normalize=True)*100

Percentage share of Tobacco use Status :

3    55.463764
1    25.800014
2    18.736222
Name: SMOKER, dtype: float64

### Thus, almost more than half of the people(55%) from the sample are Current and Active Smokers.

316-316 CONSUMER : DRINKING STATUS
 ---------------
1. Current drinker
2. Ex-drinker
3. Lifetime Abstainer

In [76]:
print("Count of Drinking Status : ")
my_data['CONSUMER'].value_counts()

Count of Drinking Status :

1    26946
3     8266
2     7881
Name: CONSUMER, dtype: int64

In [77]:
print("Percentage share of Drinking Status : ")
my_data['CONSUMER'].value_counts(normalize=True)*100

Percentage share of Drinking Status :

1    62.529877
3    19.181770
2    18.288353
Name: CONSUMER, dtype: float64

### Thus, again almost more than half of the people(62%) from the sample are Current  Alcohol Drinkers.